*{box-sizing: border-box;}
.main-container{
  background-color: white;
  
}


.container{
  display:flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  }

  .form-container {

    max-width: 300px;
    padding: 10px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .inp{
    text-align: center;
    border: 2px solid cyan;
    color: black;
    margin: 1rem;
   
    background: transparent;
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    outline: none;
    transition: all .2s ease-in-out;
  }

.img {
 display: flex;
 width: 15rem;
 height: 16rem;
 border: 16px solid rgb(0, 0, 04, 42, 42);
 left: 10px;
}

.btn{
  background: transparent;
    border: 2px solid green;
    padding: 1rem 2rem;
    border-radius: 6rem;
    text-decoration: underline;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
